{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "jsx-a11y",
    "prettier",
    "react-hooks",
    "simple-import-sort"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-var-requires": "off",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/order": "warn",
    "import/extensions": "off",
    "jsx-a11y/accessible-emoji": "warn",
    "jsx-a11y/anchor-has-content": "warn",
    "jsx-a11y/label-has-associated-control": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-shadow": "off",
    "no-template-curly-in-string": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "prettier/prettier": "warn",
    "react-hooks/exhaustive-deps": "off",
    "react-hooks/rules-of-hooks": "error",
    "react/button-has-type": "warn",
    "react/destructuring-assignment": "warn",
    "react/display-name": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx", "md", "mdx", ".ts", ".tsx"]
      }
    ],
    "react/jsx-fragments": "off",
    "react/jsx-indent": "off",
    "react/jsx-key": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-default-props": [
      "error",
      {
        "ignoreCase": false
      }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "ignoreCase": false,
        "noSortAlphabetically": false,
        "reservedFirst": true,
        "shorthandFirst": true,
        "shorthandLast": false
      }
    ],
    "react/jsx-uses-react": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-children-prop": "warn",
    "react/no-danger": "off",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", "md", "mdx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
